
<h1>Budget</h1>
<%= form_for @budget do |f| %>

  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <p>Please see following errors:</p>
      <ul>
        <% @budget.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="field<%= ' field_with_errors' if @budget.errors[:name].any? %>">
	<%= f.label :name %><br>
	<%= f.text_field :name %><br><br>
	</div>
	
	<div class="field<%= ' field_with_errors' if @budget.errors[:amount].any? %>">
	<%= f.label :amount %><br>
	<%= f.number_field :amount %><br><br>
	</div>

	<!--<button type="button" id="submit_button">Submit</button>-->
	<%=f.submit%>
	
	<% end %>


<script type="text/javascript" charset="utf-8">
$(function() {

//	getBudget(<%=@id%>, function(budget) {
//		$('#name').val(budget.name);
//		$('#amount').val(budget.amount);
//	});
	
//	$("#submit_button").click(function(event) {
//		console.log("submit");
		
//		let budget = new Budget(
//		$('#name').val(),
//		$('#amount').val(), 
//		<%=@id%>, 
//		0
//		); 
//		console.log("here is the budget for patch", budget);
//		budget.patchBudget();
//	});
	$('form').submit(function(event) {
	console.log("submit");
		event.preventDefault();
		
		var values = $(this).serialize();
		
		var posting = $.ajax({
		url : '/budgets/<%=@id%>',
		method: 'patch',
		data: values
		});
		
		posting.done(function(data) {
		let budget = data;
		$('#name').val(budget['name']);
		$('#amount').val(budget['amount']);
		
		window.location = '/budgets/<%=@id%>';
		});
	});
});
</script>	
	

